.DS_Store
node_modules
target
*.node
*.log*
*.local
.cache

temp
dist
coverage
lib-cov

*.tsbuildinfo

**/.vitepress/cache

**/.pnpm-store/**

# pnpm
.pnpm-debug.log*
.pnpm-store

# superpowers
.superpowers
